source/BCH.Comex.Data.DAL.Services/Service References/SWCE.ConsultaFima/CS000007_ConsultaFirmas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://osb.bancochile.cl/ESB/ConsultaFirmas/OpConsultarFirmasRequest" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://osb.bancochile.cl/ESB/ConsultaFirmas/OpConsultarFirmasRequest" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="datosEntrada">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="cuenta" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="codProducto">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="rutCliente">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="9" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>