source/BCH.Comex.Data.DAL.Services/Service References/XCFT.ConsultaProductoCliente/CS000026_ConsultaProductoCliente1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://osb.bancochile.cl/ESB/ConsultaProductoCliente/OpConsultarProdClienteRequest" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://osb.bancochile.cl/ESB/ConsultaProductoCliente/OpConsultarProdClienteRequest" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="arrayProductos">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="codigoProducto" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="datosEntrada">
    <xsd:sequence>
      <xsd:element name="rutCliente" type="xsd:string" />
      <xsd:element name="listaProductos" type="tns:arrayProductos" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>