source/BCH.Comex.Data.DAL.Services/Service References/XCFT.ConsultaInformacionBasicaEmpresas/CS000029_ConsultaInformacionBasicaEmpresas86.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://osb.bancochile.cl/entities/contactabilidad/Email" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://osb.bancochile.cl/entities/contactabilidad/Email" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="correo">
    <xsd:sequence>
      <xsd:element name="email" type="xsd:string" />
      <xsd:element name="tipoEmail" type="xsd:string" />
      <xsd:element name="fechaActualizacion" nillable="true" type="xsd:dateTime" />
      <xsd:element name="usoPostal" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>