source/BCH.Comex.Data.DAL.Services/Service References/XCFT.ConsultaInformacionBasicaEmpresas/CS000029_ConsultaInformacionBasicaEmpresas85.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://osb.bancochile.cl/entities/contactabilidad/DatosEjecutivo" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://osb.bancochile.cl/entities/contactabilidad/DatosEjecutivo" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="DatosEjecutivo">
    <xsd:sequence>
      <xsd:element name="paterno" type="xsd:string" />
      <xsd:element name="materno" type="xsd:string" />
      <xsd:element name="nombres" type="xsd:string" />
      <xsd:element name="codPosition" type="xsd:string" />
      <xsd:element name="oficina" type="xsd:string" />
      <xsd:element name="email" type="xsd:string" />
      <xsd:element name="primario" type="xsd:string" />
      <xsd:element name="cargo" type="xsd:string" />
      <xsd:element name="telefono" type="xsd:string" />
      <xsd:element name="fax" type="xsd:string" />
      <xsd:element name="anexo" type="xsd:string" />
      <xsd:element name="tipoEjecutivo" type="xsd:string" />
      <xsd:element name="positionId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>