source/BCH.Comex.Data.DAL.Services/Service References/XCFT.ConsultaInformacionBasicaPersona/CS000028_ConsultaInformacionBasicaPersona83.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://osb.bancochile.cl/ESB/ConsultaInformacionBasicaPersona/OpConsultarInfoBasicaRequest" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://osb.bancochile.cl/ESB/ConsultaInformacionBasicaPersona/OpConsultarInfoBasicaRequest" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="datosEntrada">
    <xsd:sequence>
      <xsd:element name="rutPersona" type="xsd:string" />
      <xsd:element name="rutEmpresa" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>