source/BCH.Comex.Core.BL.Portal/Service References/ActiveDirectory.Service/addressing.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.xmlsoap.org/ws/2004/08/addressing" elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2008/1/ActiveDirectory" />
  <xs:element xmlns:q1="http://schemas.microsoft.com/2008/1/ActiveDirectory" name="EndpointUnavailable" type="q1:FaultDetail" />
  <xs:element xmlns:q2="http://schemas.microsoft.com/2008/1/ActiveDirectory" name="DestinationUnreachable" type="q2:FaultDetail" />
  <xs:element xmlns:q3="http://schemas.microsoft.com/2008/1/ActiveDirectory" name="ActionNotSupportedFault" type="q3:FaultDetail" />
</xs:schema>