source/BCH.Comex.Data.DAL.Services/Service References/XCFT.CargoCuentaCosmos/CargoCuentaCosmosCodFC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N1:definitions xmlns:WL5G3N2="http://osb.bancochile.cl/CargoCuentaCosmosCodFC/" xmlns:WL5G3N0="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/" name="CargoCuentaCosmosCodFC" targetNamespace="http://osb.bancochile.cl/CargoCuentaCosmosCodFC/" xmlns:WL5G3N1="http://schemas.xmlsoap.org/wsdl/">
  <wsp:UsingPolicy WL5G3N1:Required="true" />
  <wsp:Policy WL5G3N0:Id="Mtom.xml">
    <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
  </wsp:Policy>
  <WL5G3N1:types>
    <xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://osb.bancochile.cl/CargoCuentaCosmosCodFC/" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://osb.bancochile.cl/CargoCuentaCosmosCodFC/" xmlns:Q1="http://osb.bancochile.cl/ESB/CargoCuentaCosmosCodFC/OpCargoCuentaCosmosCodFCRequest" xmlns:Q2="http://osb.bancochile.cl/ESB/CargoCuentaCosmosCodFC/OpCargoCuentaCosmosCodFCResponse" xmlns:Q3="http://osb.bancochile.cl/common/HeaderRequest" xmlns:Q4="http://osb.bancochile.cl/common/HeaderResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://osb.bancochile.cl/CargoCuentaCosmosCodFC/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="CS002032_CargoCuentaCosmosCodFC.xsd" namespace="http://osb.bancochile.cl/common/HeaderResponse" />
      <xsd:import schemaLocation="CS002032_CargoCuentaCosmosCodFC_1.xsd" namespace="http://osb.bancochile.cl/common/HeaderRequest" />
      <xsd:import schemaLocation="CS002032_CargoCuentaCosmosCodFC_1_2.xsd" namespace="http://osb.bancochile.cl/ESB/CargoCuentaCosmosCodFC/OpCargoCuentaCosmosCodFCResponse" />
      <xsd:import schemaLocation="CS002032_CargoCuentaCosmosCodFC_1_2_3.xsd" namespace="http://osb.bancochile.cl/ESB/CargoCuentaCosmosCodFC/OpCargoCuentaCosmosCodFCRequest" />
      <xsd:element name="headerRequest" type="Q3:datosHeaderRequest" />
      <xsd:element name="headerResponse" type="Q4:datosHeaderResponse" />
      <xsd:element name="CargoCuentaCosmosCodFC">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="reqCargoCuentaCosmosCodFC" type="Q1:reqCargoCuentaCosmosCodFC" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CargoCuentaCosmosCodFCResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="respCargoCuentaCosmosCodFC" type="Q2:respCargoCuentaCosmosCodFC" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WL5G3N1:types>
  <WL5G3N1:message name="CargoCuentaCosmosCodFCRequest">
    <WL5G3N1:part name="parameters" element="WL5G3N2:CargoCuentaCosmosCodFC" />
  </WL5G3N1:message>
  <WL5G3N1:message name="CargoCuentaCosmosCodFCResponse">
    <WL5G3N1:part name="parameters" element="WL5G3N2:CargoCuentaCosmosCodFCResponse" />
  </WL5G3N1:message>
  <WL5G3N1:message name="headerRequestMessage">
    <WL5G3N1:part name="headerRequest" element="WL5G3N2:headerRequest" />
  </WL5G3N1:message>
  <WL5G3N1:message name="headerResponseMessage">
    <WL5G3N1:part name="headerResponse" element="WL5G3N2:headerResponse" />
  </WL5G3N1:message>
  <WL5G3N1:portType name="CargoCuentaCosmosCodFC">
    <WL5G3N1:operation name="CargoCuentaCosmosCodFC">
      <WL5G3N1:input message="WL5G3N2:CargoCuentaCosmosCodFCRequest" />
      <WL5G3N1:output message="WL5G3N2:CargoCuentaCosmosCodFCResponse" />
    </WL5G3N1:operation>
  </WL5G3N1:portType>
  <WL5G3N1:binding name="CargoCuentaCosmosCodFCSOAP" type="WL5G3N2:CargoCuentaCosmosCodFC">
    <wsp:Policy>
      <wsp:PolicyReference URI="#Mtom.xml" />
    </wsp:Policy>
    <WL5G3N3:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N1:operation name="CargoCuentaCosmosCodFC">
      <WL5G3N3:operation soapAction="http://osb.bancochile.cl//CargoCuentaCosmosCodFC/CargoCuentaCosmosCodFC" />
      <WL5G3N1:input>
        <WL5G3N3:header message="WL5G3N2:headerRequestMessage" part="headerRequest" use="literal" />
        <WL5G3N3:body use="literal" />
      </WL5G3N1:input>
      <WL5G3N1:output>
        <WL5G3N3:header message="WL5G3N2:headerResponseMessage" part="headerResponse" use="literal" />
        <WL5G3N3:body use="literal" />
      </WL5G3N1:output>
    </WL5G3N1:operation>
  </WL5G3N1:binding>
  <WL5G3N1:service name="CargoCuentaCosmosCodFC">
    <WL5G3N1:port name="CargoCuentaCosmosCodFCSOAP" binding="WL5G3N2:CargoCuentaCosmosCodFCSOAP">
      <WL5G3N3:address location="http://osb.bancochile.cl:8017/Cosmos/CS002032_CargoCuentaCosmosCodFC" />
    </WL5G3N1:port>
  </WL5G3N1:service>
</WL5G3N1:definitions>