source/BCH.Comex.Data.DAL.Services/Service References/XCFT.CargoCuentaCosmos/CS002032_CargoCuentaCosmosCodFC_1_2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://osb.bancochile.cl/ESB/CargoCuentaCosmosCodFC/OpCargoCuentaCosmosCodFCResponse" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://osb.bancochile.cl/ESB/CargoCuentaCosmosCodFC/OpCargoCuentaCosmosCodFCResponse" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="respCargoCuentaCosmosCodFC">
    <xsd:sequence>
      <xsd:element ref="tns:Respuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Respuesta">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="descripcionRetorno" type="xsd:string" />
        <xsd:element ref="tns:ListaMensajes" />
        <xsd:element ref="tns:ListaCampos" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ListaMensajes">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="tns:Mensajes" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Mensajes">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="tipoMovimiento" nillable="true" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="codigoMensaje" nillable="true" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="descripcionMensaje" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ListaCampos">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" ref="tns:Campos" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Campos">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="nombreCampo" nillable="true" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="valorCampo" nillable="true" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>