source/BCH.Comex.Data.DAL.Services/Service References/CTR.ConsultarFichaClienteFull/21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://osb.bancochile.cl/ent/bch/infra/mci/errorDetails/v/6" xmlns:infra-com="http://osb.bancochile.cl/ent/bch/infra/mci/comun/v/3" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://osb.bancochile.cl/ent/bch/infra/mci/errorDetails/v/6" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://osb12pc:20001/sb/bch/neg/cif/consultarFichaClienteFull/v/2?SCHEMA%2FBCH.INFRA.ModeloComunInformacion%2FSpecifications%2FENT.3.0.BCH.INFRA.Comun" namespace="http://osb.bancochile.cl/ent/bch/infra/mci/comun/v/3" />
  <xsd:complexType name="errorList">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="error" type="tns:error" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="error">
    <xsd:sequence>
      <xsd:element name="level" type="xsd:string" />
      <xsd:element name="code" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
      <xsd:element name="backEnd" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="location">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="node" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="pipeline" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="stage" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="path" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="fault">
    <xsd:sequence>
      <xsd:element name="errorCode" type="xsd:string" />
      <xsd:element name="reason" type="xsd:string" />
      <xsd:element name="location" type="tns:location" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="details">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="fault" type="tns:fault" />
      <xsd:element name="fechaHoraInicioTrx" type="infra-com:FechaHora" />
      <xsd:element name="fechaHoraFinTrx" type="infra-com:FechaHora" />
      <xsd:element name="idTransaccionNegocio" type="xsd:string" />
      <xsd:element name="errorCode" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="errorList" type="tns:errorList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="details" type="tns:details" />
</xsd:schema>