source/BCH.Comex.Data.DAL.Services/Service References/CTR.ConsultarFichaClienteFull/34.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:comun="http://osb.bancochile.cl/ent/bch/infra/mci/comun/v/3" xmlns:tns="http://osb.bancochile.cl/ent/bch/infra/mci/cabeceraServicios/v/3" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://osb.bancochile.cl/ent/bch/infra/mci/cabeceraServicios/v/3" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://osb12pc:20001/sb/bch/neg/cif/consultarFichaClienteFull/v/3?SCHEMA%2FBCH.INFRA.ModeloComunInformacion%2FSpecifications%2FENT.3.0.BCH.INFRA.Comun" namespace="http://osb.bancochile.cl/ent/bch/infra/mci/comun/v/3" />
  <xsd:complexType name="DatosConsumidor">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="usuario" type="comun:StringNoVacio" />
      <xsd:element minOccurs="1" maxOccurs="1" name="pathServices" type="comun:StringNoVacio" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>