source/BCH.Comex.Data.DAL.Services/Service References/CTR.ConsultarFichaClienteFull/35.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://osb.bancochile.cl/ent/bch/infra/mci/comun/v/3" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://osb.bancochile.cl/ent/bch/infra/mci/comun/v/3" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:simpleType name="Fecha">
    <xsd:restriction base="xsd:date">
      <xsd:minInclusive value="0001-01-01" />
      <xsd:whiteSpace value="collapse" fixed="true" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FechaHora">
    <xsd:restriction base="xsd:dateTime">
      <xsd:minInclusive value="1000-01-01T00:00:00" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Montos">
    <xsd:restriction base="xsd:decimal">
      <xsd:maxInclusive value="999999999" />
      <xsd:fractionDigits value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="GrandesMontos">
    <xsd:restriction base="xsd:decimal">
      <xsd:maxInclusive value="9999999999999999" />
      <xsd:fractionDigits value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StringNoVacio">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StringNoVacioAlfanumerico">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:pattern value="([a-zA-Z0-9])*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Rut">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="7" />
      <xsd:maxLength value="13" />
      <xsd:whiteSpace value="collapse" fixed="true" />
      <xsd:pattern value="[0-9]+-([0-9]{1}|K{1}|k{1})" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Email">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[^@]+@[^\.]+\..+" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>