source/BCH.Comex.Data.DAL.Services/Service References/CTR.ConsultarFichaClienteFull/CTR.000400_2.0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N3="http://osb.bancochile.cl/bch/neg/cif/consultarFichaClienteFullRq/mpi" xmlns:WL5G3N5="http://osb.bancochile.cl/ent/bch/infra/mci/errorDetails/v/6" xmlns:WL5G3N8="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N6="http://osb.bancochile.cl/ent/bch/neg/mci/cabeceraServicios/v/4" xmlns:WL5G3N7="http://osb.bancochile.cl/bch/neg/cif/consultarFichaClienteFull" xmlns:WL5G3N1="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:WL5G3N2="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:WL5G3N4="http://osb.bancochile.cl/bch/neg/cif/consultarFichaClienteFullRs/mpi" name="CTR.000400_2.0.ConsultarFichaClienteFull" targetNamespace="http://osb.bancochile.cl/bch/neg/cif/consultarFichaClienteFull" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:documentation>Servicio que permte consultar la información del cliente ficha full en MDM.</WL5G3N0:documentation>
  <WL5G3N1:Policy WL5G3N2:Id="wss_username_token_service_policy_passdigest">
    <sp:SupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
      <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
          <wsp:Policy>
            <sp:WssUsernameToken10 />
          </wsp:Policy>
        </sp:UsernameToken>
      </wsp:Policy>
    </sp:SupportingTokens>
  </WL5G3N1:Policy>
  <WL5G3N0:types>
    <xsd:schema xmlns:inp="http://osb.bancochile.cl/bch/neg/cif/consultarFichaClienteFullRq/mpi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N4="http://osb.bancochile.cl/ent/bch/neg/mci/cabeceraServicios/v/4" xmlns:out="http://osb.bancochile.cl/bch/neg/cif/consultarFichaClienteFullRs/mpi" xmlns:det="http://osb.bancochile.cl/ent/bch/infra/mci/errorDetails/v/6" xmlns:WL5G3N7="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://osb.bancochile.cl/bch/neg/cif/consultarFichaClienteFullRq/mpi" xmlns:WL5G3N5="http://osb.bancochile.cl/bch/neg/cif/consultarFichaClienteFull" xmlns:WL5G3N3="http://osb.bancochile.cl/ent/bch/infra/mci/errorDetails/v/6" xmlns:tns="http://osb.bancochile.cl/bch/neg/cif/consultarFichaClienteFull" xmlns:head="http://osb.bancochile.cl/ent/bch/neg/mci/cabeceraServicios/v/4" xmlns:WL5G3N6="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N2="http://osb.bancochile.cl/bch/neg/cif/consultarFichaClienteFullRs/mpi" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://osb12pc:20001/sb/bch/neg/cif/consultarFichaClienteFull/v/2?SCHEMA%2FSRV.BCH.NEG.CIF%2FSRV.000400_2.0.ConsultarFichaClienteFull%2FSpecifications%2FMSG.000400_2.0.ConsultarFichaClienteFullRq" namespace="http://osb.bancochile.cl/bch/neg/cif/consultarFichaClienteFullRq/mpi" />
      <xsd:import schemaLocation="http://osb12pc:20001/sb/bch/neg/cif/consultarFichaClienteFull/v/2?SCHEMA%2FSRV.BCH.NEG.CIF%2FSRV.000400_2.0.ConsultarFichaClienteFull%2FSpecifications%2FMSG.000400_2.0.ConsultarFichaClienteFullRs" namespace="http://osb.bancochile.cl/bch/neg/cif/consultarFichaClienteFullRs/mpi" />
      <xsd:import schemaLocation="http://osb12pc:20001/sb/bch/neg/cif/consultarFichaClienteFull/v/2?SCHEMA%2FBCH.NEG.ModeloComunInformacion%2FSpecifications%2FENT.4.0.BCH.NEG.CabeceraServicios" namespace="http://osb.bancochile.cl/ent/bch/neg/mci/cabeceraServicios/v/4" />
      <xsd:import schemaLocation="http://osb12pc:20001/sb/bch/neg/cif/consultarFichaClienteFull/v/2?SCHEMA%2FBCH.INFRA.Arquitectura%2FControlErrores%2FSpecifications%2FMSG.6.0.BCH.INFRA.ErrorDetails" namespace="http://osb.bancochile.cl/ent/bch/infra/mci/errorDetails/v/6" />
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="consultarFichaClienteFullRq">
    <WL5G3N0:part name="consultarFichaClienteFullRq" element="WL5G3N3:consultarFichaClienteFullRq" />
  </WL5G3N0:message>
  <WL5G3N0:message name="consultarFichaClienteFullRs">
    <WL5G3N0:part name="consultarFichaClienteFullRs" element="WL5G3N4:consultarFichaClienteFullRs" />
  </WL5G3N0:message>
  <WL5G3N0:message name="faultMessage">
    <WL5G3N0:part name="error" element="WL5G3N5:details" />
  </WL5G3N0:message>
  <WL5G3N0:message name="headerRqMsg">
    <WL5G3N0:part name="headerRequest" element="WL5G3N6:headerRequest" />
  </WL5G3N0:message>
  <WL5G3N0:message name="headerRsMsg">
    <WL5G3N0:part name="headerResponse" element="WL5G3N6:headerResponse" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="consultarFichaClienteFullPort">
    <WL5G3N0:operation name="consultarFichaClienteFull">
      <WL5G3N0:input message="WL5G3N7:consultarFichaClienteFullRq" />
      <WL5G3N0:output message="WL5G3N7:consultarFichaClienteFullRs" />
      <WL5G3N0:fault name="fault" message="WL5G3N7:faultMessage" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="consultarFichaClienteFullBinding" type="WL5G3N7:consultarFichaClienteFullPort">
    <WL5G3N1:Policy>
      <WL5G3N1:PolicyReference URI="#wss_username_token_service_policy_passdigest" />
    </WL5G3N1:Policy>
    <WL5G3N8:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="consultarFichaClienteFull">
      <WL5G3N8:operation soapAction="consultarFichaClienteFull" style="document" />
      <WL5G3N0:input>
        <WL5G3N8:header message="WL5G3N7:headerRqMsg" part="headerRequest" use="literal" />
        <WL5G3N8:body use="literal" namespace="http://osb.bancochile.cl/bch/neg/cif/consultarFichaClienteFull" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N8:header message="WL5G3N7:headerRsMsg" part="headerResponse" use="literal" />
        <WL5G3N8:body use="literal" namespace="http://osb.bancochile.cl/bch/neg/cif/consultarFichaClienteFull" />
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="consultarFichaClienteFullBindingQSService">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port name="consultarFichaClienteFullBindingQSPort" binding="WL5G3N7:consultarFichaClienteFullBinding">
      <WL5G3N8:address location="http://osb12pc:20001/sb/bch/neg/cif/consultarFichaClienteFull/v/2" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>