source/BCH.Comex.Data.DAL.Services/Service References/XCFT.ConsultaCliente/CS000058_ConsultaCliente3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://osb.bancochile.cl/common/HeaderResponse" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://osb.bancochile.cl/common/HeaderResponse" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="datosTransaccion">
    <xsd:sequence>
      <xsd:element name="internalCode" type="xsd:string" />
      <xsd:element name="idTransaccionNegocio" type="xsd:string" />
      <xsd:element name="fechaHoraInicioTrx" nillable="true" type="xsd:dateTime" />
      <xsd:element name="fechaHoraFinTrx" nillable="true" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="datosHeaderResponse">
    <xsd:sequence>
      <xsd:element name="transaccion" type="tns:datosTransaccion" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>