source/BCH.Comex.Data.DAL.Services/Service References/XCFT.ConsultaCuentaCorriente/CS002027_ConsultaCuentaCorriente.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://osb.bancochile.cl/common/HeaderRequest" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://osb.bancochile.cl/common/HeaderRequest" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="datosConsumidor">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="idApp">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="usuario">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="datosTransaccion">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="internalCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="idTransaccionNegocio">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="fechaHora">
        <xsd:simpleType>
          <xsd:restriction base="xsd:dateTime">
            <xsd:minInclusive value="1000-01-01T00:00:00" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" maxOccurs="1" name="canal">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="sucursal">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="datosHeaderRequest">
    <xsd:sequence>
      <xsd:element name="consumidor" type="tns:datosConsumidor" />
      <xsd:element name="transaccion" type="tns:datosTransaccion" />
    </xsd:sequence>
    <xsd:anyAttribute namespace="##other" processContents="lax" />
  </xsd:complexType>
</xsd:schema>