source/BCH.Comex.Data.DAL.Services/Service References/XCFT.ObtenerDatosFichaChica/CS000191_ObtenerDatosFichaChica.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://osb.bancochile.cl/ESB/RenovacionInternet/ObtenerDatosFichaChica/OpObtenerRequest" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://osb.bancochile.cl/ESB/RenovacionInternet/ObtenerDatosFichaChica/OpObtenerRequest" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="reqObtener">
    <xsd:sequence>
      <xsd:element ref="tns:Cuerpo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Cuerpo">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="rutCliente" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>